@use "utils/variables";
@use "utils/typography";
@use "utils/mixins";
@use "global/flex";
@use "global/grid";
@use "global/window";
@use "components/effects";
@use "components/forms";
@use "components/items";
@use "components/resource";

// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */

/* Styles limited to definitely-wizards sheets */
.definitely-wizards {
  .sheet-header {
    #stat-panel {
      gap: variables.$margin-md;
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: 100px 1fr 1fr;
      grid-template-rows: 40px 1fr;
      grid-template-areas: "portrait name name" "portrait wizard wild";

      .profile-img {
        grid-area: portrait;
        height: 100px;
        background-color: fade(var(--defwiz-c-dark), 10%);
      }

      .document-name {
        grid-area: name;
        border-bottom: 0;

        input {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }

      #stat-wizard,
      #stat-wild {
        grid-area: wizard;
        gap: 5px;
        margin-top: 10px;
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        grid-template-rows: auto 1fr;
        grid-template-areas: "title title title ." "value die dice ." "plus minus reset .";
        align-items: center;

        .stat-value {
          font-size: 45px;
          font-family: Title;
          height: 50px;
          text-align: center;
          width: 50px;
          border: 0;
          background: transparent;
          grid-area: value;
        }
      }

      #stat-wizard {
        grid-area: wizard;
      }

      #stat-wild {
        grid-area: wild;
      }

      .stat-title {
        grid-area: title;
      }

      .stat-button-plus {
        height: 50px;
        width: 50px;
        grid-area: plus;
        background: url(/systems/definitely-wizards/resources/icons/plus.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      .stat-button-minus {
        height: 50px;
        width: 50px;
        grid-area: minus;
        background: url(/systems/definitely-wizards/resources/icons/minus.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      .stat-button-reset {
        height: 50px;
        width: 50px;
        grid-area: reset;
        background: url(/systems/definitely-wizards/resources/icons/reset.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      .stat-roll-single {
        height: 50px;
        width: 50px;
        grid-area: die;
        background: url(/systems/definitely-wizards/resources/icons/die-six.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      .stat-roll-double {
        height: 50px;
        width: 50px;
        grid-area: dice;
        background: url(/systems/definitely-wizards/resources/icons/die-six-double.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }

  .class-tab {

    #class-tab-content {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto 1fr;

      #attributes-panel {
        margin-right: 0.5rem;

        #attributes {
          display: grid;
          gap: variables.$margin-md;
          margin-top: variables.$margin-md;

          align-items: center;
          display: grid;
          gap: variables.$margin-md;
          grid-template-columns: max-content max-content min-content;

          label {
            grid-column: 1;
          }

          select {
            grid-column: 2;
          }

          button {
            grid-column: 3;
          }

          .customTitle {
            grid-column: 2;
          }
        }
      }

      .attribute-roll {
        height: 25px;
        width: 25px;
        background: url(/systems/definitely-wizards/resources/icons/die-six.svg);
        background-repeat: no-repeat;
        background-size: 75% auto;
        background-position: center center;
      }

      #bio-panel {
        display: grid;
        grid-template-rows: max-content 1fr;

        .editor {
          min-height: 150px;
          max-height: 260px;
          overflow-y: auto;
        }
      }

      #class-description-panel {
        display: grid;
        grid-template-rows: max-content 1fr;
        margin-right: 0.5rem;

        .class-description {
          min-height: 50px;
          max-height: 100px;
          overflow-y: auto;
          border: 0;
          background: transparent;
        }
      }
    }
  }

}